.footer {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.57);
    color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
  
    .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 20px;
      border-bottom: 1px solid #444;
  
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
  
      .about-us,
      .contact-info,
      .social-icons {
        max-width: 300px;
        margin: 15px;
  
        h3 {
          font-size: 20px;
          margin-bottom: 15px;
          color: #dbdb82;
        }
  
        p {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1.5;
        }
  
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
  
      .social-icons {
        display: flex;
        justify-content: center;
        margin-top: 15px;
  
        a {
          color: #f1f1f1;
          font-size: 24px;
          margin: 0 10px;
          transition: color 0.3s ease;
  
          &:hover {
            color: #dbdb82;
          }
        }
      }
    }
  
    .footer-bottom {
      margin-top: 20px;
      font-size: 14px;
  
      p {
        margin: 0;
      }
    }
  }
  